*
{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.main
{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1f);
  grid-template-rows: repeat(3, 1f);
}

#homediv
{
  grid-column:2;
  grid-row:2;
}


input:valid {
  border: 2px solid black;
}

form {
  font: 1em sans-serif;
  max-width: 320px;
}